<link rel="stylesheet" href="<%-window.libURL%>libs/css/super.configEditor.css" />
<small class="pull-right msg"></small>
<nav class="navbar navbar-rounded navbar-expand-lg bg-success">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link submit">
                        <p><i class="fa fa-check"></i> <%-lang.Save%></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form class="form-group-group red" id="conf_json">
    <small class="pull-right msg"></small>
    <div id="configForHumans" class="better-json-editor pt-2"></div>
</form>
<script src="<%-window.libURL%>libs/js/jsonEditor.js" type="text/javascript"></script>
<script src="<%-window.libURL%>libs/js/super.configEditor.js" type="text/javascript"></script>
